# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

.pre-commit
.vscode/settings.json
Reference/3d.py
Reference/escriba.png
Reference/JOYCROSS.BMP
Reference/M-SCROLL.BMP
Reference/miniterm.py
Reference/model.py
Reference/ps4_cube.py
Reference/ps4_lightbar.sh
Reference/s-l1600.jpg
Reference/ser.py
Reference/x6.png
Reference/system-connections/Marcio's mobile
Reference/system-connections/SweetHome
Reference/system-connections/SweetHome2.4GHz
